# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake files
build/

# Visual Studio files
.vs/

#VS Code files
.vscode/

# include SDL2
!vendor/SDL2/x86_64-w64-mingw32/bin/*.dll
!vendor/SDL2/i686-w64-mingw32/bin/*.dll
!vendor/SDL2/x86_64-w64-mingw32/lib/*.a
!vendor/SDL2/i686-w64-mingw32/lib/*.a
!vendor/SDL2/x86_64-w64-mingw32/lib/*.la
!vendor/SDL2/i686-w64-mingw32/lib/*.la